<!DOCTYPE html>
<html>
<head>
  <title>RestaurantReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if session[:user_id] %>
    <%= form_tag '/logout', method: :delete do %>
      <%= submit_tag "Logout" %>
    <% end %>
  <% else %>
    <p><%= link_to 'Signup', signup_path %> or <%= link_to 'Log in', login_path %></p>
  <% end %>
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% elsif flash[:alert] %>
    <p id="alert"><%= image_tag "http://i664.photobucket.com/albums/vv3/peachy-chan-/sadpanda.png" %><%= flash[:alert] %></p>
  <% end %>
  <%= yield %>

</body>
</html>
